@import "arch-solid";

@font-face {
    font-family: "Karla";
    src: url('/fonts/Karla-VariableFont_wght.ttf') format('truetype');
}

:root {
    color-scheme: light dark;
}

body {
    min-height: 100vh;
    background-color: black;
    background-image: linear-gradient(
        light-dark(white, rgb(80, 64, 28)),
        light-dark(rgb(255, 183, 0), rgb(28, 64, 28)),
        light-dark(rgb(0, 183, 255), rgb(28, 64, 64)),
        light-dark(rgba(0, 183, 255, 0), black)
    );
    // background-image: linear-gradient(, , , black);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 1.5em;
}



.home-content {
    max-width: 40em;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
    margin-top: 8em;
    margin-bottom: 3em;
}

.home-viewport-container {
    display: flex;
    justify-content: center;
    width:100%;
    height:fit-content;
}

section, .blurb-card {
    max-width: 68em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    border: 4px solid light-dark(rgba(0, 0, 0, 0.9), rgba(255, 255, 255, 0.9));
    border-radius: 16px;
    padding: 2em;
    color: light-dark(rgba(0, 0, 0, 0.9), rgba(255, 255, 255, 0.9));
    background-color: light-dark(rgba(255, 255, 255, 0.7), rgba(0, 0, 0, 0.7));
}

.blurb-window {
    max-height: 6em;
    overflow: hidden;
    text-overflow: ellipsis;
}

.read-more-prompt {
    color: rgb(52, 129, 196);
}

ul > li {
    list-style-image: url("/icons/play_arrow.svg");
}

a {
    color: rgb(85, 156, 227)
}

a:visited {
    color: light-dark(hsl(276, 47%, 33%), hsl(276, 47%, 80%));
}

::selection, ::-moz-selection {
    background: hsl(276, 33%, 60%);
}